html, body {
  margin: 0;
  padding: 8pt;
  background: #fff;
}

#source {
  display: none;
}

#viewport {
  position: relative;
  
}

.block {
  float: left;
}

.clear {
  display: block;
  font-size: 0;
  clear: both;
}

.block .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
