html, body {
  margin: 0;
  padding: 8pt;
  background: #fff;
}

#source {
  display: none;
}

#viewport {
  position: relative;
  
}

.block {
  float: left;
}

.clear {
  display: block;
  font-size: 0;
  clear: both;
}

.block .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#toolbox .category {
  float: left;
  background: #000;
}

#toolbox table {
  border-collapse: collapse;
  font-size: 0;
  padding: 1px;
}

#toolbox td {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 3pt;
  border: #000 solid 1px;
}

#toolbox .arrow {
  background: url('img/arrow.svg') #222;
  background-size: 400% 400%;
}

#toolbox .arrow.selected {
  background-color: #555;
}

/** This is so painful. **/

#toolbox .arrow#arrow-none {
  background-position: 0 0;
}

#toolbox .arrow#arrow-reverse {
  background-position: 0 -100%;
}

#toolbox .arrow#arrow-up {
  background-position: -200% 0;
}

#toolbox .arrow#arrow-left {
  background-position: -200% -100%;
}

#toolbox .arrow#arrow-right {
  background-position: -300% 0;
}

#toolbox .arrow#arrow-down {
  background-position: -300% -100%;
}

#toolbox .arrow#arrow-skip-up {
  background-position: -200% -200%;
}

#toolbox .arrow#arrow-skip-left {
  background-position: -200% -300%;
}

#toolbox .arrow#arrow-skip-right {
  background-position: -300% -200%;
}

#toolbox .arrow#arrow-skip-down {
  background-position: -300% -300%;
}

#toolbox .arrow#arrow-horizontal {
  background-position: -100% 0;
}

#toolbox .arrow#arrow-vertical {
  background-position: -100% -100%;
}

#toolbox .command {
  background: url('img/command.svg') #222;
  background-size: 500% 400%;
}

#toolbox .command.selected {
  background-color: #555;
}

/** Why **/

#toolbox .command#command-none {
  background-position: 0 0;
}

#toolbox .command#command-stop {
  background-position: -100% 0;
}

#toolbox .command#command-add {
  background-position: -200% 0;
}

#toolbox .command#command-multiply {
  background-position: -300% 0;
}

#toolbox .command#command-push-number {
  background-position: -400% 0;
}

#toolbox .command#command-push {
  background-position: 0 -100%;
}

#toolbox .command#command-mod {
  background-position: -100% -100%;
}

#toolbox .command#command-subtract {
  background-position: -200% -100%;
}

#toolbox .command#command-divide {
  background-position: -300% -100%;
}

#toolbox .command#command-push-unicode {
  background-position: -400% -100%;
}

#toolbox .command#command-pop {
  background-position: 0 -200%;
}

#toolbox .command#command-copy {
  background-position: -100% -200%;
}

#toolbox .command#command-flip {
  background-position: -200% -200%;
}

#toolbox .command#command-select {
  background-position: -300% -200%;
}

#toolbox .command#command-pop-number {
  background-position: -400% -200%;
}

#toolbox .command#command-move {
  background-position: 0 -300%;
}

#toolbox .command#command-compare {
  background-position: -100% -300%;
}

#toolbox .command#command-condition {
  background-position: -200% -300%;
}

#toolbox .command#command-pop-unicode {
  background-position: -400% -300%;
}
