html, body {
  margin: 0;
  padding: 0;
  background: #000;
}

#source {
  display: none;
}

#viewport td {
  display: inline-block;
  margin: 0;
  width: 1.7em;
  height: 1.7em;
  font-size: 30pt;
  line-height: 1.7em;
  text-align: center;
  position: relative;
  background: #000;
}

#viewport td div.text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  margin: 1pt;
  background: #222;
  color: #aaa;
  border-radius: 3pt;
}

#viewport td.called div.text {
  background: #333;
}

#viewport td.running div.text {
  background: #666;
}

#viewport td div.path {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/path.svg');
  background-size: 400% 400%;
  z-index: 5;
}

#viewport td div.path.up-up {
  background-position: -200% -100%;
}

#viewport td div.path.left-left {
  background-position: -100% -200%;
}

#viewport td div.path.right-right {
  background-position: -300% 0;
}

#viewport td div.path.down-down {
  background-position: -200% -200%;
}

#viewport td div.path.left-up {
  background-position: -100% -100%;
}

#viewport td div.path.right-up {
  background-position: 0 -200%;
}

#viewport td div.path.down-left {
  background-position: -200% 0;
}

#viewport td div.path.down-right {
  background-position: 0 0;
}

#viewport td div.path.left-right {
  background-position: -100% 0;
}

#viewport td div.path.down-up {
  background-position: 0 -100%;
}

#viewport td div.path.skip-horizontal {
  background-position: -300% -100%;
}

#viewport td div.path.skip-vertical {
  background-position: -300% -200%;
}

#viewport td div.arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/arrow.svg');
  background-size: 400% 400%;
  z-index: 10;
}

#viewport td div.arrow.up {
  background-position: -200% 0;
}

#viewport td div.arrow.left {
  background-position: -200% -100%;
}

#viewport td div.arrow.right {
  background-position: -300% 0;
}

#viewport td div.arrow.down {
  background-position: -300% -100%;
}

#viewport td div.arrow.skip-up {
  background-position: -200% -200%;
}

#viewport td div.arrow.skip-left {
  background-position: -200% -300%;
}

#viewport td div.arrow.skip-right {
  background-position: -300% -200%;
}

#viewport td div.arrow.skip-down {
  background-position: -300% -300%;
}

#viewport td div.arrow.none {
  background-position: 0 0;
}

#viewport td div.arrow.horizontal {
  background-position: -100% 0;
}

#viewport td div.arrow.vertical {
  background-position: -100% -100%;
}

#viewport td div.arrow.reverse {
  background-position: 0 -100%;
}

#viewport {
  border-collapse: collapse;
  white-space: nowrap;
  overflow: auto;
  margin: 8pt;
}
